@@include('./template-parts/header.html',{
title:'Homepage'
})

<!-- Homepage Content -->

<main class="page-home">
    <div class="container">

        <img src="assets/img/windows-8kqtv6dMNSg-unsplash.jpg" alt="">
        <img src="assets/img/6.png" alt="">

    </div>
</main>

@@include('./template-parts/footer.html')

<!--
For EJS
<%- include('template-parts/_header.ejs', {'title':'Homepage'} ) %>

<% if(locals.title){ %>
    <title><%= locals.title %></title>
<% } else{ %>
    <title>Document</title>
<% } %>

<%- include('template-parts/_footer.ejs') %>
-->
